@charset "utf-8";
/* CSS Document */
*{
	  padding:0;
	  margin:0;
	  list-style:none;
	  }
.web{
	width:100%;
	height:910px;
	position:absolute;
	}	  
.con{
	width:100%;
	height:910px;
	background:#33fffff;
	overflow:hidden;
	}	  
.con ul li{
	width:100%;
	height:910px;
	}	  
.con ul .img1{
	padding-top:120px;
	margin:0px auto;
	padding-bottom:20px;
	display:block;
	}	
.con ul .img2{
	margin:0px auto;
	display:block;
	}
.button{
	width:350px;
	height:110px;
	margin:70px auto;
	background:url(../images/qrcode.png);
	background-repeat:no-repeat;
	background-position:right center;
	background-size:90px;
	}
.button a{
	width:250px;
	height:50px;
	background:#FFF;
	display:block;
	text-align:center;
	line-height:50px;
	font-size:20px;
	text-decoration:none;
	font-family:"微软雅黑";
	font-weight:bold;
	color:#a04f00;
	border-radius:2px;
	margin-bottom:5px;
	}			
.nav{
	width:750px;
     height:102px;
	 position:absolute;
	 left:50%;
	 top:655px;
	 margin-left:-375px;
	 }	
.dot{
	width:780px;
     height:2px;
	 margin-top:24px;
	 margin-left:-30px;
	 background:url(../images/dot.png);
	}	
.bar{
	width:150px;
     height:2px;
	background:#fff;
	}	
.nav ul{
	 width:750px;
     height:102px;
	 position:absolute;
	 top:0px;
	 left:0px;
	}
.nav ul li{
	 width:100px;
     height:102px;
	float:left;
	margin-left:65px;
	color:#fff;
	font-size:14px;
	font-family:;
	text-align:center;
	cursor:pointer;
	}	
.nav ul .bg{
	color:#428bca;
	}	
.nav ul li img{
	 display:block;
	 margin:0px auto;
	 margin-bottom:20px;
	}	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	